@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lobster&display=swap');
body {
   margin: 0;
   padding: 0;
   color: #1E1E1F;
   font-family: 'Dancing Script', cursive;
}
 
#root {
   margin: 0 24px;
   position: relative;
   min-height: 100vh;
   background: linear-gradient(to top, #269696, #acacee);
}