.error-page {
   background-color: transparent;
   display: flex;
   justify-content: center;
   width: calc(100% - 24px);
   height: 300px;
   margin: 0 auto;
   object-fit:cover;
}

.error-text {
   color: black;
   text-align: center;
   font-size: 80px;
}