.todoform {
   contain: content;
   background-color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: black;
   padding: 5px 30px 25px 30px;
   border: 2px grey solid;
}

.todoform-label {
   font-family: 'Courier New', Courier, monospace;
   font-weight: 900;
   font-size: 20px;
   padding: 15px 40px;
}

.todoform-textarea {
   box-shadow: 0 5px 50px rgba(32, 35, 41, 0.25);
   border: 2px #6293f4 solid;
   border-radius: 3px;
   margin: 0 auto;
   width: calc(100% - 30px);
   height: 96px;
   font-size: 18px;
   text-align: center;
}

.todoform-buttonbox {
   display: flex;
   justify-content: space-between;
   width: calc(100% - 20px);
   margin-top: 10px;
}

.todoform-button {
   font-family: 'Courier New', Courier, monospace;
   font-size: 18px;
   font-weight: 700;
   width: calc(50% - 20px);
   height: 40px;
   background-color: transparent;
   border: none;
}

.todoform-button:hover {
   cursor: pointer;
   border-radius: 2px;
   box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
}

.todoform-button--add:hover {
   background-color: #61DAFA;
}

.todoform-button--cancel:hover {
   background-color: #d15c5c;
}