.container {
   display: flex;
   /* background-color: blue; */
   width: 35px;
   position: relative;
   margin-left: -20px;
}

.bg-icon {
   display:none;
   position: absolute;
   background-color: transparent;
   width: 35px;
   height: 35px;
   justify-content: center;
   border-radius: 50%;
   z-index: 0;
}

.svg-icon {
   display:none;
   width: 35px;
   height: 35px;
   z-index: 1;
}

.svg-icon:hover {
   cursor: pointer;
}

.enabled {
   display: flex;
}

.bg-check {
   background-color: white;
}

.svg-icon-check--on , .bg-check {
   filter: invert(100%)
}

.svg-icon-delete {
   padding: 5px;
   width: 25px;
   height: 25px;
}

.svg-icon-delete:hover {
   background-color: rgba(212, 156, 12, 0.632);
   border-radius: 50%;
}