.skeleton-box{
   display: none;
   background-color: rgba(137, 135, 135, 0.333);
   width: 100%;
   height: 72px;
   margin: 20px 0px;

   animation: loading-skeleton 1.5s infinite;

}

.enabled{
   display: flex;
}

@keyframes loading-skeleton {
   0%, 100%{
      opacity: 100%
   }

   50% {
      opacity: 0%
   }
}